<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    {{!-- <link rel="stylesheet" href="/css/reset.css/" /> --}}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>The Tech Blog</h1>
      <nav>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="#">Dashboard</a></li> 
          {{#if loggedIn}}
          <li id="logout"><a href="/logout">Log Out</a></li>
            <script src="/js/logout.js/"></script>
          {{else}}
          <li><a href="/login">Log In</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{{ body }}}

  </body>
</html>

