    <main>
      <section>
        {{#each posts as |post| }}
        <a href="/blog/{{post.id}}" id="homepagePosts">
        <article>
          <h2>{{post.title}} </h2>
          {{!-- just the title and date created --}}
          <p>Created on {{post.date_created}}</p>
        </article>
        </a>
        {{/each}}
      </section>
    </main>

